body, div, p, ul, li, a{
	padding: 0;
	margin:0;
}


p{
	font-size: 20px;
	height: 30px;
	width: 100px;
	background-color: #F5A6A6
}

body {
	position: relative;
}
div{
	width: 100px;
	background-color: #7AF597;
	padding: 20px;
	border: 5px solid #0D2FFB;
	margin: 20px;
	/*display: none*/
}
div#first {
	position: absolute;
	top: 0;
	left: 0;
}
div#second {
	position: absolute;
	top: 0;
	left: 170px;
}

ul {
	background-color: #41F97E;

}

li {
	background-color: #41ADF9;
	display: inline-block;
	width: 100px;
	height: 100px
}

a {
	background-color: #EAF80B;
	display: block;
	position: relative;
	top: -10px;
	right: -20px
}

